body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: burlywood;
  color: goldenrod;
}

h1 {
  text-align: center;
  color: #444;
}

/* Layout */
#container {
  display: flex;
  gap: 20px;
}

/* Sidebar */
#animal-list {
  width: 200px;
  padding: 10px;
  background: white;
  border: 1px solid cadetblue;
  border-radius: 8px;
}

#animal-list ul {
  list-style: none;
  padding: 0;
}

#animal-list li {
  margin: 8px 0;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

/*Details section */
#animal-details {
  
  padding: 15px;
  background: whitesmoke;
  border: 1px solid brown;
  border-radius: 8px;
  text-align: center;
}

#animal-details img {
  max-width: 250px;
  border-radius: 10px;
  margin: 10px 0;
}
